<div class="col-start-6 col-end-13 py-3 rounded-lg" id="message-<%=message.id%>">
  <div class="flex items-center flex-row-reverse">
    <div
        class="flex items-center justify-center h-10 w-10 rounded-full bg-sky-700 hover:bg-sky-800 text-white flex-shrink-0"
    >
      <%= message.user.name.first %>
    </div>
    <div>
      <div
          class="relative mr-3 text-sm py-2 px-4 border rounded-xl"
      >
        <div><%= message.source_text %></div>
      </div>
      <div class="relative mr-3 grid grid-cols-[1fr_24px]">
        <div
            class="relative text-sm bg-sky-100	 py-2 px-4 shadow rounded-xl"
        >
          <div><%= message.target_text %></div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-corner-down-left"><polyline points="9 10 4 15 9 20"/><path d="M20 4v7a4 4 0 0 1-4 4H4"/></svg>      </div>
    </div>
  </div>
</div>
